body{
    width: 1366px;
    height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formDetails{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
.formLabel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;
}
.formInput{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
.formButton{
    margin-top: 10px;
}
.formError{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    color: red;
}
.formButton>*{
    color: white;
    background-color: black;
}